<mat-toolbar>
  <button mat-icon-button fxHide.gt-sm (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <a mat-button routerLink="/projects" (click)="smallScreen ? snav.close() : 0">PROJECTS</a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav 
    #snav
    [mode]="smallScreen ? 'over' : 'side'"
    [disableClose]="smallScreen ? false : true"
    [opened]="smallScreen ? false : true"
    style="width: 280px;">
    <app-loading-spinner *ngIf="!projects">
    </app-loading-spinner>
    <ng-container *ngIf="projects">
      <p *ngIf="!projects.length" class="mat-body-1" style="margin: 24px">There are no projects yet.</p>
      <mat-nav-list *ngIf="projects.length">
        <a *ngFor="let project of projects" mat-list-item routerLink="./{{project.id}}" (click)="smallScreen ? snav.close() : 0" routerLinkActive="active-link" style="padding-left: 8px;">{{project.name}}</a>
      </mat-nav-list>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content
    style="box-sizing: border-box;"
    [ngStyle.xs]="{'min-height': 'calc(100vh - 112px)', 'padding': '24px 24px' }"
    [ngStyle.gt-xs]="{'min-height': 'calc(100vh - 128px)', 'padding': '24px 40px' }">    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>