<mat-toolbar>
  <button mat-icon-button fxHide.gt-sm (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <a mat-button routerLink="/projects">PROJECTS</a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav 
    #snav
    [mode]="sideNav.mode"
    [disableClose]="sideNav.disableClose"
    [opened]="sideNav.opened"
    style="width: 280px;">
    <mat-nav-list>
      <a *ngFor="let project of projects$ | async" mat-list-item routerLink="./{{project.id}}" routerLinkActive="active-link" style="padding-left: 8px;">{{project.name}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    style="box-sizing: border-box;"
    [ngStyle.xs]="{'min-height': 'calc(100vh - 112px)', 'padding': '24px 24px' }"
    [ngStyle.gt-xs]="{'min-height': 'calc(100vh - 128px)', 'padding': '24px 40px' }">    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
