<mat-toolbar   
  color="primary"
  class="mat-elevation-z6"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  style="position:fixed; z-index: 6;">
  <span fxLayout="row">
    <img src="assets/to-do-list.svg" style="height: 36px; width: auto; padding-right: 8px;">
    <span fxHide.xs>To-do List</span>
  </span>

  <span>
    <ng-container *ngIf="authService.user as user">
      <span class="mat-body-1">
        {{user.email}}
      </span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/projects">
          <span>Projects</span>
        </button>
        <button mat-menu-item (click)="authService.logOut()">
          <span>Log-out</span>
        </button>
      </mat-menu>

    </ng-container>
  </span>
</mat-toolbar>
<div
  class="container"
  style="height: 100%; box-sizing: border-box;"
  [ngStyle.xs]="{'padding-top': '56px'}"
  [ngStyle.gt-xs]="{'padding-top': '64px'}">  

  <router-outlet></router-outlet>
</div>
