<h2 class="mat-headline">Project 1</h2>
<mat-accordion multi="true" class="task-list">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="task-header">
      <mat-panel-title>
        <mat-checkbox (click)="$event.stopPropagation();" color="accent">
          <div class="task-title"           
               [ngStyle]="{ 'max-width': '280px' }"
               [ngStyle.xs]="{ 'max-width': '216px' }">
            Task Title
          </div>
        </mat-checkbox> 
      </mat-panel-title>
      <mat-panel-description fxHide.xs fxFlex>
        Task Description
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form fxLayout="row wrap" fxLayoutGap="16px grid">
      <mat-form-field fxFlex="100%">
        <input matInput placeholder="Title" value="Task Title">
      </mat-form-field>
      <mat-form-field fxFlex="100%">
        <mat-label>Description</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMaxRows="5">Task Description</textarea>
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <input type="number" matInput placeholder="Priority" value="10">
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <input matInput [matDatepicker]="picker" placeholder="Due">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div fxFlex="100%" fxLayout>
        <div class="task-button-group" fxLayout fxLayoutGap="16px">
          <button type="button" mat-flat-button color="warn">DELETE</button>
          <button type="reset" mat-flat-button color="accent">RESET</button>
          <button type="submit" mat-flat-button color="accent" disabled>SAVE</button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>