/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; background-color: #303030; }

@media (min-width: 1025px) {
/* Custom scrollbar (works only on selected browsers)*/
  ::-webkit-scrollbar {
      width: 8px;
  }

  ::-webkit-scrollbar-track {
      background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
      background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
      background: #555; 
  }
}

.project-card-header .mat-card-header-text {
  width: 100%;
}

.task-list mat-expansion-panel {
  margin-bottom: 16px !important;
  min-width: 312px;

  .task-header .mat-content {
    width: 100%;
    overflow: unset;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

    mat-panel-title {
      flex-grow: 0;
      .task-title {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 216px;
      }
    }

    mat-panel-description {
      white-space: nowrap;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
  }
}

.draggable-source--is-dragging {
  mat-expansion-panel {
    border: 2px dashed #fff;
    opacity: .1;
  }
}