<h1 mat-dialog-title>New Project</h1>
<form [formGroup]="newProjectForm" (ngSubmit)="create()">
  <mat-dialog-content>
    <mat-form-field style="width: 100%;">
      <input matInput formControlName="name" placeholder="Name">
      <mat-error>This is required.</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <div style="margin: auto" fxLayout="row nowrap">
      <button type="button" mat-raised-button (click)="close()">CANCEL</button>
      <button type="submit" mat-raised-button color="primary">CREATE</button>
    </div>
  </div>
</form>